body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.event-list{
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-right: 0px;
  width:97.4vw;
  left: 40px;
}

.event-card-list{
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-right: 0px;
  width:96.3vw;
  left: 40px;
}

.event-card{
  flex:0 0 20%;
  display:inline-block;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:auto;
  width:300px;
  padding:20px;
  margin:10px;
  border-radius: 20px;
  line-height: 0.8;
  text-align:center;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: whitesmoke;
}

.head{
  color:whitesmoke;
  border:1px solid rgba(0, 0, 0, 0.175);
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-left: 5px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.events-listpage{
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  animation: moveBackground 30s linear infinite;
}

.eventList{
  flex:0 0 24.79% ;
}

.eventListall{
  flex:0 0 20%;
  display:inline-block;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:auto;
  width:300px;
  padding:20px;
  margin:10px;
  border-radius: 20px;
  line-height: 0.8;
  text-align:center;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: whitesmoke;
}

.traindiv{
  position: relative;
  display:flex;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:200px;
  width:1000px;
  padding:20px;
  margin:10px ;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  line-height: 1;
  left:225px;
  text-align: center;
  /* background:#f2f2f2; */
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: whitesmoke;
}


.moviediv{
  display: block;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:auto;
  width:auto;
  padding:20px;
  margin:20px;
  border-radius: 20px;
  line-height: 1;
  text-align:center;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: whitesmoke;
}

.concertdiv{
  display: block;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:500px;
  width:auto;
  padding:20px;
  margin:10px;
  border-radius: 20px;
  line-height: 0.9;
  text-align:center;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: whitesmoke;
}

.events-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.events-header h2 {
  margin: 0;
}

.events-header select{
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 8px;
}


.btn{
  background-color: #dc635b;
  margin-top: 8px;
  margin-left: 8px;
  padding: 6px 12px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}

.btn:hover{
  color:whitesmoke;
  background-color: #c62828;
}

.event-detail{
  display: block;
  position:absolute;
  height:auto;
  width:400px;
  margin:0px;
  border-radius: 20px;
  line-height: 1;
  text-align:center;
  left: 50%;
  transform: translateX(-50%);
}

.userprof{
  display: block;
  position: relative;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:auto;
  width:350px;
  padding:20px;
  margin:10px;
  border-radius: 20px;
  line-height: 0.9;
  text-align:left;
  left:50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(2px);
  color: whitesmoke;
}

.useredit{
  display: block;
  position: relative;
  border:1px solid rgba(0, 0, 0, 0.175);
  height:auto;
  width:350px;
  padding:20px;
  margin:10px;
  border-radius: 20px;
  line-height: 0.9;
  text-align:left;
  left:50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(2px);
  color: whitesmoke;
}

.useredit input {
  position: relative;
  left:20px;
  width:200px;
  padding: 2px;
  margin-left: 5px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(2px);
  color: whitesmoke;
}

.avatar{
  position: relative;
  left:100px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-bottom:30px;
}

.poster{
  position: relative;
  left:130px;
  width: auto;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-top:20px;
}

.profile-page{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  position: relative;
  animation: moveBackground 30s linear infinite;
  height: auto;
  min-height: 90.3vh;
}

.bookingHistory{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  position: relative;
  animation: moveBackground 30s linear infinite;
  height: auto;
  min-height: 90.3vh;
  width:100vw;
}

.evntdtail{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  position: relative;
  animation: moveBackground 30s linear infinite;
  height: auto;
  min-height: 93vh;
  width:99vw;
}

/* .btntwo{
  background-color: #dc635b;
  margin-top: 8px;
  margin-left: 8px;
  padding: 6px 12px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
} */

.navbar{
  background-color: #1f2937;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family:'Segoe UI',sans-serif;
}

.container-fluid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand{
  margin-left: 30px;
  height: 40px;
  object-fit: cover;
}

.NavComp{
  display: flex;
  align-items: center;
  margin-left: 850px;
}

.navbar-nav{
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-item{
  position: relative;
}

.nav-link{
  position: relative;
  color:#ffffff;;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  top:10px;
}
.nav-link:hover{
  color:#fbbf24;
}

.slctbtn{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(2px);
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 8px;
  border:0.8px solid white;
  color: white;
}

.home-link{
  position: relative;
  color:#ffffff;;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  top:10px;
  border-radius: 5px;
  padding: 2px;
  padding-top: 0px;
}
.home-link:hover{
  color:#fbbf24;
}

hr{
  border: none;
  height: 1px;
  background-color: #374151;
  margin-top: 1rem;
}


.login-form select{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(2px);
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 8px;
  width:100px;
  border:0.8px solid white;
  color: white;
}

/* .login-form select:focus{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(2px);
  border: 2px solid #f87171;
} */

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 0px;
  margin-bottom: 0px;

  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-size: auto 750px ;
  background-repeat: repeat;
  position: relative;

  animation: moveBackground 30s linear infinite;
}

.home-inside{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border:2px solid rgba(255, 255, 255, 0.5);
  height:100vh;
  width: 100vw;
}

.home-con{
  border:2px solid rgba(255, 255, 255, 0.5);
  background: rgba(0,0,0,0.2);
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  text-align: center;
  height:400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: whitesmoke;
}

.dashboard-page{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  animation: moveBackground 30s linear infinite;
}

.admin-panel-page{
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  animation: moveBackground 30s linear infinite;
  max-width:100vw;
  min-height: 90vh;
  height: auto;
}


.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.8vh;

  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/moviePoster.jpg');
  background-size: auto 750px ;
  background-repeat: repeat;
  position: relative;

  animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
  0%{
    background-position:0% 0%;
  }
  100%{
    background-position:400px 0%;
  }
}

.form-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  width:100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  border:2px solid rgba(255, 255, 255, 0.5)
}

.vendor-form{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(2px);
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  width:100%;
  max-width: 400px;
  margin: 2rem auto;
  gap: 1rem;
  color: white;
  border:2px solid rgba(255, 255, 255, 0.5)
}

.vendor-form input{
  position: relative;
  left:50px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
  color: whitesmoke;
  width:70%;
  margin-top: 10px;
}

.inpt{
  position: relative;
  left:5px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  padding: 4px 6px;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
  color: whitesmoke;
  margin-top: 10px;
}

.vendor-form input:focus{
  background: rgba(255,255,255,0.2);
  border: 1px solid #3b82f6;
}

.vendor-form label{
  display: block;
  margin-top: 1rem;
}

.imgtoshow{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  position: relative;
  left:480px;
  border-radius: 20px;
}

.vendor-form label{
  margin-top: 0.9rem;
}

.vendor-form select{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(4.25px);
  -webkit-backdrop-filter: blur(4.25px);
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  color: whitesmoke;
}

.login-form input{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2px);
  padding: 10px 14px;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
  color: whitesmoke;
}

.login-form input:focus{
  border-color: #3b82f6;
}

.prof-form input{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2px);
  padding: 10px 14px;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
  color: whitesmoke;
}

.prof-form input:focus{
  border-color: #3b82f6;
}

.file-upload{
  border-radius: 8px;
}

.reg-link{
  text-align: center;
  font-size: 14px;
  color: whitesmoke;
}

.reg-link a{
  color:#60feb7;
  text-decoration: none;
  font-weight: 500;
}

.reg-link a:hover{
  text-decoration: underline;
}

.for-link{
  text-decoration:none;
  margin-top:20px;
  text-align:center;
  color: whitesmoke;
}

.for-link:hover{
  color:#60feb7;
}